@import "var";
@import "responsive";


@mixin price{
    padding: 20px 0 10px 29px;
    @include tipografia(38, 700, auto, #1E2338 );

   strong{

      @include tipografia(px, 700, auto, #1E2338 );

   }


   span{
      @include tipografia(px, 400,auto,#828799 );
   }



  
    
}

@mixin describe{
    padding: 0px 31px 20px;
    border-bottom: 1px solid #EEEEEE;
    @include tipografia(14, 400, auto, #828799);
}

@mixin list{
    list-style: none;
    padding: 20px 0 0 36px ;
    display: flex;
    flex-direction: column;
    

    li{
        display: flex;
        padding-bottom: 17px;
        p{
            padding-left: 15px;
            @include tipografia(14, 400, auto, $text-list)
        }
    }
}

@mixin button{
    width: 296px;
    height: 49px;
    background: transparent;
    border:1px solid #1D539E ;
    border-radius: 8px;
    margin: 0 auto;
    cursor: pointer;
    transition: .2s;

    &:hover{
        transform:scale(1.1);
    }
    @include tipografia(18, 600, auto, #1D539E);
}

.bgContainer_plans{
    width:100%;
    height: 50%;
    flex-wrap: wrap;
    position: absolute;
    background: $background-bottom;
    display: flex;
    justify-content: center;
    

    .bg_Container_plans_item{
        background: #ffffff;
        width: 355px;
        height: 470px;
        margin: 5px;
        display: inline-block;
        margin: 5px 10px;
        border-radius: 8px;
        box-shadow: 0 1px 2px rgba(142,150,185,0.25);
    }
       
    /***********************/
    //essas são os 3 caixas dos planos
    .free{
        //plano free
        position: relative;
        top: -75px; 
    }

    //plano basic
    .basic{
        position: relative;
        height: 490px;
        top: -85px;
        
    }

    //plano profissional
    .pro{
        position: relative;
        top:-75px;
    }
    /***********************/


    //Aqui são as caixas que ficarão as listas


    .bg_Container_plans_item_list_fre{
        
        width: 100%;
        height: calc(100% - 60px);
        display: flex;
        flex-direction:column;

        #priceFree{
            @include price();
        }

        #describeFree{
            @include describe();
        }

        ul{
            @include list();
            
        }

        button{
            @include button();
            margin-top: calc(120px - 17px);
        }
    }

    .bg_Container_plans_item_list_basic{
        //caixa plano Basic 
       
        width: 100%;
        height: calc(100% - 75px);
        display: flex;
        flex-direction:column;

        #priceBasic{
            @include price();
            
        }

        #describeBasic{
            @include describe();
        }

        ul{
            @include list()
        }

        button{
            @include button();
            background:#1D539E; 
            color:#ffffff ;
            @include tipografia(20, 600, auto,#ffffff);
            margin-top: calc(68px - 17px);
        }
    }
    
    .bg_Container_plans_item_list_pro{
      
        width: 100%;
        height: calc(100% - 60px);
        display: flex;
        flex-direction:column;

        #pricePro{
            @include price();
           
        }

        #describePro{
            @include describe();
        }

        ul{
            @include list()
        }

        button{
            @include button();
            margin-top: calc(42px - 17px);
        }

    }

}





/******************/
//São as caixas em cima da lista 

//Plan Free
#planFree{
    padding: 30px;
    width: 100%;
    height:50px;
    
    p{
        @include tipografia(18, 600, auto, $text-FreePro)
    }
}

//Plan Basic
#planBasic{
    //caixa amarela

    //TODO colocar variavel
    background: #FFCC29;
    width: 100%;
    height:75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius:9px 8px 0 0;
    box-shadow: 0 1px 2px rgba(142,150,185,0.25);

    p{
        margin-left:30px;
        @include tipografia(20, 600, auto, $text-basic)
    }

    span{
        margin-right: 20px;
        padding: 8px 24px 8px 24px;
        border-radius: 40px;
        background: #1D539E;
        @include tipografia(12, 600, auto, $text-basic-popular)
    }
}

//Plan Pro
#planPro{
    padding: 30px;
    width: 100%;
    height:50px;

    p{
        @include tipografia(18, 600, auto, $text-FreePro)
    }
}