*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} /*********************/
/*********************/
/*********************/
/*********************/
/*********************/
/*********************/
/*********************/
/*********************/
.bgContainer {
  margin: 0 auto;
  flex-wrap: wrap;
  width: 100%;
}
.bgContainer .bgContainer_text {
  background: #1D539E;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  height: 500px;
}
.bgContainer .bgContainer_text h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
  line-height: auto;
  color: #ffffff;
  font-weight: bold;
}
.bgContainer .bgContainer_text p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.12em;
  font-weight: regular;
  line-height: 1.4;
  color: #ffffff;
  margin-top: 15px;
}

/*********************/
/*********************/
/*********************/
/*********************/
/*********************/
/*********************/
/*********************/
/*********************/
.bgContainer_plans {
  width: 100%;
  height: 50%;
  flex-wrap: wrap;
  position: absolute;
  background: #F9FBFC;
  display: flex;
  justify-content: center;
  /***********************/
  /***********************/
}
.bgContainer_plans .bg_Container_plans_item {
  background: #ffffff;
  width: 355px;
  height: 470px;
  margin: 5px;
  display: inline-block;
  margin: 5px 10px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(142, 150, 185, 0.25);
}
.bgContainer_plans .free {
  position: relative;
  top: -75px;
}
.bgContainer_plans .basic {
  position: relative;
  height: 490px;
  top: -85px;
}
.bgContainer_plans .pro {
  position: relative;
  top: -75px;
}
.bgContainer_plans .bg_Container_plans_item_list_fre {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
}
.bgContainer_plans .bg_Container_plans_item_list_fre #priceFree {
  padding: 20px 0 10px 29px;
  font-family: "Open Sans", sans-serif;
  font-size: 2.3em;
  font-weight: 700;
  color: #1E2338;
}
.bgContainer_plans .bg_Container_plans_item_list_fre #priceFree strong {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: auto;
  color: #1E2338;
}
.bgContainer_plans .bg_Container_plans_item_list_fre #priceFree span {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: auto;
  color: #828799;
}
.bgContainer_plans .bg_Container_plans_item_list_fre #describeFree {
  padding: 0px 31px 20px;
  border-bottom: 1px solid #EEEEEE;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  line-height: auto;
  color: #828799;
}
.bgContainer_plans .bg_Container_plans_item_list_fre ul {
  list-style: none;
  padding: 20px 0 0 36px;
  display: flex;
  flex-direction: column;
}
.bgContainer_plans .bg_Container_plans_item_list_fre ul li {
  display: flex;
  padding-bottom: 17px;
}
.bgContainer_plans .bg_Container_plans_item_list_fre ul li p {
  padding-left: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  line-height: auto;
  color: #828799;
}
.bgContainer_plans .bg_Container_plans_item_list_fre button {
  width: 296px;
  height: 49px;
  background: transparent;
  border: 1px solid #1D539E;
  border-radius: 8px;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Open Sans", sans-serif;
  font-size: 1.12em;
  font-weight: 600;
  line-height: auto;
  color: #1D539E;
  margin-top: 103px;
}
.bgContainer_plans .bg_Container_plans_item_list_fre button:hover {
  transform: scale(1.1);
}
.bgContainer_plans .bg_Container_plans_item_list_basic {
  width: 100%;
  height: calc(100% - 75px);
  display: flex;
  flex-direction: column;
}
.bgContainer_plans .bg_Container_plans_item_list_basic #priceBasic {
  padding: 20px 0 10px 29px;
  font-family: "Open Sans", sans-serif;
  font-size: 2.3em;
  font-weight: 700;
  color: #1E2338;
}
.bgContainer_plans .bg_Container_plans_item_list_basic #priceBasic strong {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: auto;
  color: #1E2338;
}
.bgContainer_plans .bg_Container_plans_item_list_basic #priceBasic span {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: auto;
  color: #828799;
}
.bgContainer_plans .bg_Container_plans_item_list_basic #describeBasic {
  padding: 0px 31px 20px;
  border-bottom: 1px solid #EEEEEE;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  line-height: auto;
  color: #828799;
}
.bgContainer_plans .bg_Container_plans_item_list_basic ul {
  list-style: none;
  padding: 20px 0 0 36px;
  display: flex;
  flex-direction: column;
}
.bgContainer_plans .bg_Container_plans_item_list_basic ul li {
  display: flex;
  padding-bottom: 17px;
}
.bgContainer_plans .bg_Container_plans_item_list_basic ul li p {
  padding-left: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  line-height: auto;
  color: #828799;
}
.bgContainer_plans .bg_Container_plans_item_list_basic button {
  width: 296px;
  height: 49px;
  background: transparent;
  border: 1px solid #1D539E;
  border-radius: 8px;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Open Sans", sans-serif;
  font-size: 1.12em;
  font-weight: 600;
  line-height: auto;
  color: #1D539E;
  background: #1D539E;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25em;
  font-weight: 600;
  color: #ffffff;
  margin-top: 51px;
}
.bgContainer_plans .bg_Container_plans_item_list_basic button:hover {
  transform: scale(1.1);
}
.bgContainer_plans .bg_Container_plans_item_list_pro {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
}
.bgContainer_plans .bg_Container_plans_item_list_pro #pricePro {
  padding: 20px 0 10px 29px;
  font-family: "Open Sans", sans-serif;
  font-size: 2.3em;
  font-weight: 700;
  color: #1E2338;
}
.bgContainer_plans .bg_Container_plans_item_list_pro #pricePro strong {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: auto;
  color: #1E2338;
}
.bgContainer_plans .bg_Container_plans_item_list_pro #pricePro span {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: auto;
  color: #828799;
}
.bgContainer_plans .bg_Container_plans_item_list_pro #describePro {
  padding: 0px 31px 20px;
  border-bottom: 1px solid #EEEEEE;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  line-height: auto;
  color: #828799;
}
.bgContainer_plans .bg_Container_plans_item_list_pro ul {
  list-style: none;
  padding: 20px 0 0 36px;
  display: flex;
  flex-direction: column;
}
.bgContainer_plans .bg_Container_plans_item_list_pro ul li {
  display: flex;
  padding-bottom: 17px;
}
.bgContainer_plans .bg_Container_plans_item_list_pro ul li p {
  padding-left: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  line-height: auto;
  color: #828799;
}
.bgContainer_plans .bg_Container_plans_item_list_pro button {
  width: 296px;
  height: 49px;
  background: transparent;
  border: 1px solid #1D539E;
  border-radius: 8px;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Open Sans", sans-serif;
  font-size: 1.12em;
  font-weight: 600;
  line-height: auto;
  color: #1D539E;
  margin-top: 25px;
}
.bgContainer_plans .bg_Container_plans_item_list_pro button:hover {
  transform: scale(1.1);
}

/******************/
#planFree {
  padding: 30px;
  width: 100%;
  height: 50px;
}
#planFree p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.12em;
  font-weight: 600;
  line-height: auto;
  color: #1E2338;
}

#planBasic {
  background: #FFCC29;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 9px 8px 0 0;
  box-shadow: 0 1px 2px rgba(142, 150, 185, 0.25);
}
#planBasic p {
  margin-left: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25em;
  font-weight: 600;
  color: #1D539E;
}
#planBasic span {
  margin-right: 20px;
  padding: 8px 24px 8px 24px;
  border-radius: 40px;
  background: #1D539E;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75em;
  font-weight: 600;
  line-height: auto;
  color: #ffffff;
}

#planPro {
  padding: 30px;
  width: 100%;
  height: 50px;
}
#planPro p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.12em;
  font-weight: 600;
  line-height: auto;
  color: #1E2338;
}

/*********************/
/*********************/
/*********************/
/*********************/
/*********************/
/*********************/
/*********************/
/*********************//*# sourceMappingURL=styles.css.map */